header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    word-spacing: 0.3px;
    
    
}
header p{
    text-decoration: underline;
}
#one{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#one ul{
    display: flex;
    flex-direction: row;
    
}
#one ul a{
    text-decoration: none;
}
#one ul a li{
    list-style: none;
}
#two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#submit{
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}
#search{
    height: 25px;
    width: 300px;
}
#signup{
    padding: 5px;
    cursor: pointer;
}
#signin{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
#three,#six{
    display: flex;
    flex-direction: column;
    
    text-align: center;
    background-color: orangered;
    justify-content: space-around;
    
    color: white;
    
}
#three{
    height: 250px;

}
#six{
    height: 170px;
    
}
#three input{
    margin-right: 10px;
    padding: 5px;
    background-color: purple;
    color: white;
    margin-bottom: 30px;
}
.same{
    line-height: 2px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
footer li{
    list-style: none;
}
footer li a{
    text-decoration: none;
    color: black;
}
footer article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#four{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 220px;
    margin-top: 20px;
}
.same2{
    line-height: 2px;
}
#five{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    margin-top: 40px;
    font-size: smaller;
    margin-bottom: 20px;
}
#five article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    
}
button{
    border-radius: 40%;
}
#seven{
    width: 200px;
}
img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
}

#seven article img{
        width: 100px;
      height: 40px;
}
    

